.home-details-page {
    max-width: 2000px;
}

.home-details-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 40px;
    position: relative; 
    margin-top: 30px;
}

.home-details-page_description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.per-month_wrapper {
    box-sizing: border-box;
}

.schedule-visit_container {
    width: 334px;
    height: 82px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(1,1,24,.1);
    border-radius: 4px;
    box-sizing: border-box;
}

/*Block description inside*/

.adress-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 12px;
}

.home-metrics {
    margin: 0px 0px 40px;
}

.home-metrics span {
    margin: 0px 24px 0px 3px;
}

.pos-icon {
    position: relative;
    top: 2px;
    right: 2px;
}

.truncated-text {
    color: rgba(1,1,24,.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
}

.description {
    overflow-wrap: break-word;
    height: 100px;
}

.read-more {
    color: #009099;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.schedule-button {
    width: 171px;
    height: 48px;
    background-color: #009099;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.schedule-button span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.schedule-amount {
    width: 68px;
    height: 48px;
}

.per-mo {
    font-size: 14px;
    color: rgba(1,1,24,.6);
}

.price-for-house {
    color: #010118;
    font-size: 20px;
    font-weight: 700;
}

.line1 {
    margin: 40px 0px;
    border: 0;
    height: 1px;
    background: rgba(232, 236, 241, 1);
}

/*-------------------------------------------------------------------------------*/

.house-details-title {
    color: #010118;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
}

.home-info_table td {
    padding: 0px 30px 30px 0px;
    font-size: 16px;
    color: rgba(1,1,24,.6);
    line-height: 20px;
}

.home-info_table  tr:last-of-type > td {
    padding: 0px 30px 0px 0px;
}

.done-block div {
    margin: 0px 0px 20px;
}

.list-item {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #010118;
}

.schoolsNearby_schools{
    display: flex;
}

.schoolNearby_school {
    width: 200px;
    height: 137px;
    margin-right: 15px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 16px;
}

.schoolNearby_school_type {
    padding: 16px 0px;
    color: #009099;
}

.schoolNearby_school_type span {
    margin: 0px 0px 0px 6px;
}

.schoolNearby_school_name {
    padding: 32px 0px;
    color: #010118;
    font-size: 16px;
    font-weight: 700;
}

.home-details-page_contacts_schedule_visit {
    color: #009099;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    color: #858585;
    font-size: 16px;
    width: 50%;
}

.footer div p:last-of-type {
    margin-top: 14px;
    font-size: 14px;
    line-height: 15px;
    color: #858585;
}


