.homesPageDesktop_filter {
    box-sizing: border-box;
    height: 74px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
  }

.filter-buttons {
    display: flex;
}

.not-available {
  margin: 12px 0;
  font-weight: 400;
  font-size: 16px;
  color: rgba(1,1,24,.6);
}

.filter-dropdown-menu {
  background: rgb(240, 220, 220);
  height: 200px;
  width: 197px;
  position: relative;
  bottom: 15px;
}

.filter-dropdown-menu_filters {
  padding: 20px 16px;
}

.filter-dropdown-menu_filters_wrapper-child-cont {
  display: flex;
}


