.homesPageDesktop_filter {
    box-sizing: border-box;
    height: 74px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
  }

.filter-buttons {
    display: flex;
}

.not-available {
  margin: 12px 0;
  font-weight: 400;
  font-size: 16px;
  color: rgba(1,1,24,.6);
}
